import /init.recovery.qcom_decrypt.rc

on init
    setprop prepdecrypt.setpatch true

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on boot
    start health-hal-2-0

on property:ro.twrp.fastbootd=0
    setprop sys.usb.config mtp,adb
    setprop sys.usb.config adb
